$S-radius: 0.3rem;
$S-color: #0088fe;
$S-color-green: #67C23A;

.student-card {
  font-family: PingFangSC-regular;


  .color-green {
    color: $S-color-green !important;
  }

  .student-base {
    background: #ffffff;
    border-radius: $S-radius;
    font-size: 0.86rem;
    padding: 0.6rem;

    .student-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .SH-l {
        flex: 1;
        display: flex;
        align-items: flex-start;

        .SH-name {
          margin-left: 0.6rem;
          color: #333333;
          font-size: 1.2rem;
        }

        .SH-tag {
          word-break: keep-all;
          margin: 0.1rem;
          font-size: 0.8rem;
          padding: 0.1rem 0.2rem;
          color: $S-color-green;
          border: 1px solid $S-color-green;
          border-radius: $S-radius;
        }

        .SH-tag-blue {
          color: $S-color;
          border: 1px solid $S-color;
        }

        .SH-tag-gray {
          color: #999;
          border: 1px solid #999;
        }

        .SH-tag-green {
          color: $S-color-green;
          border: 1px solid $S-color-green;
        }
      }

      .SH-r {
        .SH-r-none {
          color: #666;
          margin-top: -0.5rem;
          margin-left: 0.3rem;
          font-size: 1.2rem;
          letter-spacing: 0.1rem;
          font-weight: bolder;
        }

        .SH-r-icon {
          margin-left: 0.3rem;

          img {
            vertical-align: middle;
            width: 1.2rem;
            height: auto;
            transition: all 0.2s linear;
          }
        }

        .IconRotate {
          transform: rotate(180deg);
        }
      }
    }

    .student-subtitle {
      font-size: 0.9rem;
      text-align: left;
      color: $S-color-green;
      margin-top: 0.6rem;

      span {
        margin-right: 0.6rem;
      }
    }

    .subtitle-blue {
      color: $S-color;
    }

    .subtitle-green {
      color: $S-color-green;
    }

    .subtitle-gray {
      color: #999;
    }

    .student-extraInfo {
      font-size: 0.8rem;
      margin-top: 0.6rem;

      .extra-info-item {
        .extra-info-item-line {
          position: relative;
          display: inline-block;
          height: 0.8rem;
          width: 1rem;
          margin: 0;

          &::after {
            top: 50%;
            position: absolute;
            content: '';
            width: 1px;
            height: 100%;
            background: #999999;
            // margin: 0 0.5rem;
            transform: translate(0.4rem, -0.3rem);
          }
        }
      }

      .extra-info-item:last-child {
        margin-right: 0;

        .extra-info-item-line::after {
          display: none;
        }
      }
    }

    .student-series {
      margin-top: 0.6rem;
      border-radius: 6px;
      color: rgba(16, 16, 16, 1);
      font-size: 1.2rem;
      text-align: left;
      display: flex;
      box-shadow: 0px 0px 4px 0px #3333330f;
      padding: 0.4rem 0;

      div {
        flex: 1;
        padding-left: 0.6rem;

        span {
          display: block;
          font-size: 0.8rem;
          color: #999;
        }
      }
    }

  }
}
