.student-info-edit {
  font-size: 0.86rem;
  .student-info-edit-title {
    color: #999999;
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
    img {
      width: 1rem;
      height: auto;
      transition: all 0.2s linear;
    }
    .rotate {
      transform: rotate(180deg);
    }
  }
  .student-info-edit-footer {
    background: #ffffff;
    margin-top: 1rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;

    .record-btn {
      border-radius: 0.5rem;
      width: 100%;
      word-break: keep-all;
    }
    .record-btn-danger {
      border-color: #F56C6C;
      color: #F56C6C;
    }
  }

}