
$hf-contain-p: 0 1.2rem;
$hf-contain-f: 0.76rem;
$hf-high-color: #0088fe;
.header-filter {
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $hf-contain-p;
  .hf-l-list {
    .hf-l-list-menu {
      /deep/.van-dropdown-menu__bar {
        height: auto;
        box-shadow: none;
        .van-dropdown-menu__item {
          flex: inherit;
          margin-right: 1rem;
          .van-dropdown-menu__title {
            padding: 0.6rem 0.4rem 0.6rem 0;
            font-size: $hf-contain-f;
            &::after {
              border: 1px solid;
              padding: 0.1rem;
              border-color: transparent transparent #333333 #333333;
            }
          }
          .van-dropdown-menu__title--active {
            color: $hf-high-color;
            &::after {
              border-color: transparent transparent $hf-high-color $hf-high-color;
            }
          }
        }
      }
    }
  }
  .hf-r-list {
    display: flex;
    .hf-r-list-item {
      margin-left: 0.4rem;
      .hf-r-icon-bg {
        background: #d7d7d7;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
      }
      .hf-r-icon-bg-act {
        background: $hf-high-color;
      }
    }
  }
  .hf-drop-view {
    padding: $hf-contain-p;
    padding-bottom: 0.8rem;
    .hf-drop-contain {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 0.8rem;
      .hr-drop-filter-item {
        padding: $hf-contain-p;
        font-size: $hf-contain-f;
        width: 50%;
        box-sizing: border-box;
        padding: 0.8rem 0;
      }
      .hr-drop-filter-item-act {
        color: $hf-high-color;
      }
    }
    // 快捷筛选
    .hf-drop-quick {
      margin-top: 1rem;
      .hf-drop-quick-item {
        margin-bottom: 1.5rem;
        .hf-drop-quick-title {
          color: #333333;
          font-size: 0.84rem;
        }
        .hf-drop-quick-list {
          display: flex;
          margin: 0.6rem 0;
          font-size: $hf-contain-f;

          .hf-drop-quick-list-item {
            border: 1px solid #f3f3f3;
            background: #f3f3f3;
            margin-right: 0.8rem;
            padding: 0.4rem 0.6rem;
            border-radius: 1rem;
            transition: background-color, color 0.2s linear;
          }
          .hf-drop-quick-list-item-act {
            background: #ffffff;
            color: $hf-high-color;
            border: 1px solid $hf-high-color;
          }
          .hf-drop-quick-list-item-checkbox {
            margin-right: 1rem;
            /deep/.van-checkbox__label {
              margin-left: 0.2rem;
            }
          }
        }
        .hf-drop-quick-calendar {
          /deep/.van-calendar__header {
            box-shadow: none;
            border-bottom: 1px solid #eeeeee;
          }
        }
      }
    }
  }
  .hf-drop-contain-empty {
    color: #666666;
    text-align: center;
    font-size: 0.8rem;
  }
  .searchInput {
    padding: 0.3rem 0;
    width: 100%;
    .van-search__content {
      background: #ffffff;
      border: 1px solid #f3f3f3;
      border-radius: 0.3rem;
      /deep/input {
        caret-color: #0088FE;
      }
    }
  }
}

.moreContain {
  max-height: 80vh;
}