$S-radius: 0.3rem;
$S-color: #0088fe;

.student-card {
  .student-base {
    background: #ffffff;
    border-radius: $S-radius;
    font-size: 0.86rem;
    padding-bottom: 0.6rem;

    .student-header {
      padding-bottom: 0.6rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .SH-l {
        flex: 1;
        display: flex;
        align-items: flex-start;

        .SH-name {
          color: #333333;
          font-size: 1.2rem;
          margin-right: 0.2rem;
        }
      }

      .SH-r {
        .SH-r-icon {
          margin-left: 0.3rem;

          img {
            vertical-align: middle;
            width: 1.2rem;
            height: auto;
            transition: all 0.2s linear;
          }
        }
      }
    }

    .student-extraInfo {
      padding: 0.6rem;
      background: #E9F3FF;
      border-radius: $S-radius;
      margin: 0 0.6rem 0.6rem 0.6rem;

      .extra-info-item {
        .extra-info-item-line {
          position: relative;
          display: inline-block;
          height: 0.8rem;
          width: 1rem;
          margin: 0;

          &::after {
            top: 50%;
            position: absolute;
            content: '';
            width: 0.5px;
            height: 100%;
            background: #999999;
            // margin: 0 0.5rem;
            transform: translate(0.4rem, -0.3rem);
          }
        }
      }

      .extra-info-item:last-child {
        margin-right: 0;

        .extra-info-item-line::after {
          display: none;
        }
      }
    }

    .student-turn-info {
      color: #9b9a9a;
      margin-bottom: 0.5rem;

      .student-turn-info-title {
        color: #0088FE;
      }
    }

    .student-info {
      .student-info-item {
        margin-bottom: 0.5rem;
        .info-item {
          display: inline-block;
          position: relative;
          margin-right: 1rem;
          color: #333333;

          &::after {
            top: 50%;
            position: absolute;
            content: '';
            width: 0.5px;
            height: 85%;
            background: #999999;
            margin: 0 0.5rem;
            transform: translate(-50%, -50%);
          }

          .info-img {
            width: 1rem;
            height: auto;
            vertical-align: middle;
            margin-right: 0.2rem;
          }

          .info-item-time {
            color: #999999;
            margin-left: 1.2rem;
          }
        }

        .info-img {
          width: 1rem;
          height: auto;
          vertical-align: text-bottom;
          margin-right: 0.2rem;
        }

        .info-item:last-child {
          &::after {
            display: none;
          }
        }

        // .info-item::after {
        //   display: none;
        // }
      }

      .student-more {
        .student-line {
          position: relative;
          width: 100%;
          height: 1px;
          background: #f3f3f3;
          margin-bottom: 0.6rem;

          .line-square {
            position: absolute;
            top: 50%;
            left: 49%;
            padding: 0.34rem;
            background: #F3F3F3;
            transform: rotate(45deg) translate(-50%, -50%);
            transform-origin: left top;
          }
        }
      }
    }

    .student-btns {
      padding: 0 0.6rem;
      display: flex;
      justify-content: space-around;

      .student-btn-item {
        font-size: 0.86rem;
        word-break: keep-all;
        border: none;
        flex: auto;
        padding: 0;

        // width: 100%;
        /deep/.van-button__content,
        .van-button__text,
        .van-popover__wrapper {
          width: 100%;
        }

        img {
          width: 1rem;
          height: auto;
          vertical-align: top;
          margin-right: 0.3rem;
        }
      }
    }
  }

  .SH-tags {
    display: flex;
    flex-wrap: wrap;

    .SH-tag {
      word-break: keep-all;
      margin: 0.1rem;
      font-size: 0.8rem;
      padding: 0.1rem 0.2rem;
      color: $S-color;
      border: 1px solid $S-color;
      border-radius: $S-radius;
    }

    .SH-tag-green {
      color: #67C23A;
      border: 1px solid #67C23A;
    }

    .SH-tag-yellow {
      color: #e6a23c;
      border: 1px solid #e6a23c;
    }
  }

  .IconRotate {
    transform: rotate(180deg);
  }
}

.green-color {
  .info-item {
    color: #67C23A !important;

    &::after {
      background: #67C23A !important;
    }
  }
}

.gray-title-color {
  color: #999999;
}

.blue-title-color {
  color: #0088FE;
}