$S-radius: 0.3rem;
$S-color: #0088fe;

.cost-card {
  .cost-base {
    background: #ffffff;
    border-radius: $S-radius;
    font-size: 0.86rem;
    padding-bottom: 0.6rem;
    padding: 4px 4px;
    .cost-header {
      font-size: 1.2rem;
      margin: 0.5rem 0;
      display: flex;
      justify-content: space-between;
      .img-info {
        width: 1.5rem;
        height: 1.5rem;
      }
      span {
        font-size: 0.8rem;
        border-radius: 0.2rem;
        border: solid 2px #ccc;
        padding: 0.15rem;
      }
      .cost-header-rt{
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        color: #1497F0;
      } 
    }
   .cost-info-item {
    //  margin-top: 1rem;
     font-size: 1rem;
     margin: 1rem 0;
     word-wrap: break-word;
     word-break: normal;
   }
   .last-item {
     display: flex;
     justify-content: space-between;
     span {
       display: block;
       color: #999999;
     }
     .last-rt {
       color: red;
       font-size: 1.2rem;
     }
   }
  }

}

.green-color {
  .info-item {
    color: #67C23A !important;

    &::after {
      background: #67C23A !important;
    }
  }
}

.gray-title-color {
  color: #999999;
}

.blue-title-color {
  color: #0088FE;
}